aiohttp
aiosignal
alembic
anyio
argon2-cffi
argon2-cffi-bindings
arrow
astroid
asttokens
async-timeout
attrs
backcall
beautifulsoup4
black
bleach
certifi
cffi
charset-normalizer
click
cmaes
colorama
colorlog
comm
Cython
datasets
debugpy
decorator
defusedxml
dill
dodgy
evaluate
executing
fastjsonschema
filelock
flake8
flake8-polyfill
fqdn
frozenlist
fsspec
gitdb
GitPython
greenlet
huggingface-hub
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
ipywidgets
isoduration
isort
jedi
Jinja2
joblib
jsonpointer
jsonschema
jupyter
jupyter-console
jupyter-events
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab-pygments
jupyterlab-widgets
lazy-object-proxy
Mako
MarkupSafe
matplotlib-inline
mccabe
mistune
multidict
multiprocess
mypy-extensions
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
nltk
notebook
notebook_shim
numpy
nvidia-pyindex
optuna
packaging
pandas
pandocfilters
parso
pathspec
pep8-naming
pickleshare
Pillow
pkgutil_resolve_name
platformdirs
poetry-semver
prometheus-client
prompt-toolkit
psutil
pure-eval
pyarrow
pycodestyle
pycparser
pydocstyle
pyflakes
Pygments
pylint
pylint-celery
pylint-django
pylint-flask
pylint-plugin-utils
pyparsing
pyrsistent
python-dateutil
python-json-logger
pytz
PyYAML
pyzmq
qtconsole
QtPy
regex
requests
requirements-detector
responses
rfc3339-validator
rfc3986-validator
scikit-learn
scipy
Send2Trash
seqeval
setoptconf-tmp
six
smmap
sniffio
snowballstemmer
soupsieve
SQLAlchemy
stack-data
terminado
threadpoolctl
tinycss2
tokenizers
toml
tomli
tomlkit
torch
torchaudio
torchvision
tornado
tqdm
traitlets
transformers
typing_extensions
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
widgetsnbextension
wrapt
xxhash
yarl
zipp
